*{
    margin: 0%;
    padding: 0%;
    
    
}
img{
    height: 30px;
    padding-top: 20px;
   
    
}
#div1{
    padding-top: 50px;
    margin-right: 45%;
} 
#img2{
    height: 60%;
    width: 40%;
 float: right;
 position: absolute;
right: 6%;

top: 1%;
margin-top: 10%;
z-index: 10;
 
}
footer{
    padding-top: 30%;
    padding-left: 45%;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 15%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
}


  #container {
    font-size: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    line-height: 16px;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-left: 220px;
  }
.burger{
    display: none;
}

  .burger div {
width: 25px;
height: 3px;
background-color: blue;
margin: 5px;
  }

  @media screen and (max-width:768px) {
      body{
          display: none;
      }
  }